header {
  background: white;
  height: 50px;
  border-bottom: 1px solid black;
  padding-right: 0;
  padding-left: 0;
  .header {
    display: flex;
    height: 50px;

    img.menu {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        cursor: pointer;
      }
    }
    .title {
      margin-left: 20px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
main {
  aside {
    float: left;
    width: 9.9%;
    height: 960px;
    border-right: 1px solid black;
    div {
      text-align: center;
      padding: 10px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin-top: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  section {
    float: right;
    width: 90%;
  }
}
